:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.container1 {
  max-width: 96%;
  padding: 4rem 1rem;
  text-align: center;
  /* background-color: rgb(1, 1, 83); */
}

.heading1 {
  margin: auto;
  margin-top: 50px;
  padding: 1rem 0;
  font-size: 3.5rem;
  width: max-content;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.swiper_container {
  height: 47rem;
  padding: 1rem 0;
  position: relative;
}

.swiper-slide {
  width: 30rem;
  height: 36rem;
  margin-bottom: 10px;
  position: relative;
}
.sw {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(3, 9, 90);
  background-color: rgb(255, 255, 255);
  margin: 10px;

  color: rgb(0, 0, 0);

  border-left: 12px solid rgb(36, 148, 192);
  border-top: 12px solid rgb(34, 149, 194);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 10px;
}

.sw h2 {
  margin-top: 15px;
  font-size: 15px;
}
.sw h4 {
  margin-top: 8px;
  font-size: 14px;

  font-weight: normal;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 50vh;
  }
  .slider-controler .h3 {
    margin-top: -52px !important;
  }
  .heading1 {
    margin-top: 100px;
  }
  .swiper-slide {
    width: 80vw !important;
    height: 34rem !important;
  }
  .swiper-slide img {
    width: 23rem !important;
    height: 23rem !important;
  }
  .sw {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    margin: 10px;

    color: rgb(0, 0, 0);

    border-left: 12px solid rgb(36, 148, 192);
    border-top: 12px solid rgb(34, 149, 194);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
  }
  .sw h2 {
    margin-top: 10px;
  }
  .container1 {
    max-width: 96%;
    padding: 1rem 1rem;
    margin: 0 auto;
    /* background-color: rgb(1, 1, 83); */
  }
}
@media (max-width: 375px) {
  .swiper_container {
    height: 64vh;
  }
}

.swiper-slide img {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-controler .h3 {
  position: relative;
  margin-left: 120px;
  margin-top: -10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 4rem;
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background-color: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}
